<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Osobny profil</h1>
<nav>
    <a href="o mne">About me</a>
    <a href="skills">Skills</a>
    <a href="projects">Projects</a>
</nav>
</header>

<main>
    <section>
        <p>Volam sa Lucia a toto je moja stranka </p>
    </section>
</main>

<div class="content">
        <div id="about me">
            <h2>About me: </h2>

        <label for="bio">Name, Age, Hobbies</label>
        <textarea id="bio" name="bio" rows="4" cols="50"></textarea>
        <br><br>

        <div id="skills">
            <h4>Skills</h4>
            <p>Singing</p>

        <div id="projects">
            <h4>Projects</h4>
            <p>None</p>

    </div>

<footer>
        <p>&copy; 2024 Všetky práva vyhradené.</p>
    </footer>

</body>
</html>
